<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;">
<table role="presentation">
    <tr>
        <td class="container">
            <div style="margin-bottom:20px; text-align: center;">
                <img alt="Logo" height="100px" th:src="${logoImage}" width="100px">
            </div>
            <h2 style="color: #007bff;">Password cambiata!</h2>
            <p style="margin-bottom: 20px; color: #555;">Se non hai richiesto questo cambio password contattaci
                immediatamente!</p>
        </td>
    </tr>
</table>
</body>
</html>
