<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;">
<table role="presentation">
    <tr>
        <td class="container">
            <div style="margin-bottom:20px; text-align: center;">
                <img alt="Logo" height="100px" th:src="${logoImage}" width="100px">
            </div>
            <h2 style="color: #007bff;">Grazie per esserti registrato!</h2>
            <p style="margin-bottom: 20px; color: #555;">Per confermare il tuo account, clicca sul link di conferma qui
                sotto:</p>
            <a style="display: inline-block; padding: 10px 20px; margin-top: 10px; background-color: #007bff; color: #fff; text-decoration: none; border-radius: 5px;"
               th:href="${confirmationLink}">Conferma
                Account</a>
            <p style="color: #b3b3b3; margin-top: 20px;">Se non hai richiesto questa registrazione, ignora questa
                email.</p>
        </td>
    </tr>
</table>
</body>
</html>
