<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body style="display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;">
<style>
  .container {
    text-align: center;
  }

  .password-box {
    border: 2px solid #007bff;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }
</style>

<div class="container">
  <table role="presentation">
    <tr>
      <td>
        <div style="margin-bottom:20px; text-align: center;">
          <img alt="Logo" height="100px" th:src="${logoImage}" width="100px">
        </div>
        <h2 style="color: #007bff;">Reset della Password</h2>
        <p style="margin-bottom: 20px; color: #555;">La tua password è stata resettata. Di seguito trovi la
          tua nuova password:</p>
        <div class="password-box" th:text="${newPassword}"></div>
        <p style="color: #b3b3b3; margin-top: 20px;">Se non hai richiesto il reset della password, contatta il
          supporto.</p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
